.body{
    background-color: black;
}
.top-image{
    width: 25px;
    height:25px;
    margin-right: 5px;
}

.searchInput{
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}
.downloadButton{
    color:#f2f3f4;
    background-color: #0078d4;
    padding:5px 15px;
    border-radius:4px;
    cursor: pointer;
    font-size: 16px;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:1200px;
    margin: 0 auto;
    background-color: lightgrey;
    padding:10px 20px;
}

.flex{
    display: flex;
    align-items: center;
}

.vertical-center{
    margin-right:  20px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-left:0;
}

.nav-links {
    text-decoration: none;
    color: #0078d4;
    margin-right: 20px; /* Space between links */
}

.searchContainer{
    display: flex;
    align-items: center;
    gap:10px;
}

.container{
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right:auto;

}

.update-banner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-right:0 16px;
    position:relative;
    line-height: 150%;
}

.update-banner .container{
    padding:0;
}


.update-banner .container p, .update-banner .container a{
    text-align: center;
    margin:8px 0;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

.update-banner .dismiss-btn{
    height:32px;
    width:32px;
    border-radius: 4px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0 6px 0;
    cursor:pointer;
    box-sizing: border-box;
}
.updates-banner .dismiss-btn:hover {
    cursor: pointer;
    background: var(--icon-button-hover-background)
}
.update-banner .dismiss-btn .glyph-icon::after{
    content:"x";
    font-size:24px;
    font-weight: 300px;
    display: block;
}

@media(min-width: 992px) {
    .updates-banner .container {
        padding:8px 40px !important;
        align-items: center
    }
}
.container{
    display: flex;
    align-items: center;

}
.code-anywhere{
    display: flex;
    flex-direction: row;
    align-items: center;
    border:1px solid black;
}



.languages{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    grid-template-columns: max-content 1fr max-content 1fr max-content 1fr;
    align-items: center;
    padding-inline: 2.5rem;
}
    
    



.languages code{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    align-items:center;
}
.col-sm-6 {
    display: grid;
    width: 50%
}

.languages img{
    height: 40px;
    width:auto;
}

.main-container{
    border: 1px solid;
    border-radius:2px;
    
}
.vertical-center{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: row;
}
.horizontal-center{
    padding:10px;
    margin: 0 auto;
    width:400px;
}

.horizontal-center .copilot{
    height: auto;
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
}